html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  font-family: "Maison Neue", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  color: #000000;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  cursor: default;
}

header {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

/*      
    typography
    
    p 태그의 기본 글씨체 
*/
p.typography {
  box-sizing: border-box;
  padding-top: 2px;
  margin: 0px;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  color: rgb(0, 0, 0);
  letter-spacing: 0.25px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

div { 
  display: block;
}

ol {

  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

}

img {
  user-select: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
