
.NavTab_navFrame {
    
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 4;
    margin-bottom: 1rem;

    background: rgba(236, 134, 134, 0.753);

}

.NavTab_navList {

    display: flex;
    height: 3.25rem;
    margin: 0px;
    padding: 0px;
}

.NavTab_navItem {

    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 1rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);

}

.NavTab_navText {

    box-sizing: border-box;
    padding-top: 2px;
    margin: 0px;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;

}

.nav_onSelected {
    
    color: rgba(0, 0, 0, 1);

}